* {
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}



.background {
    top: -5%;
    right: 10%;
    position: absolute;
    z-index: -10000;
}

.background1
 {
    top: 220%;
    right: 1%;
    position: absolute;
    z-index: -10000;
    
}

.backgroundNew {
    position: absolute;
    z-index: -10000;
    top: 95%;
    right: 20%;
    opacity: 0.8;
}



.title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.text {
    color: white;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    text-align: justify;
}

.margin {
    margin-bottom: 30px;
}

.texts {

    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.green {
    color: #4BD0A0;
}

.button {
    width: 340px;
    height: 77px;
    border-radius: 20px;
    background-color: #FF00E5;
    color: white;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: all 0.3s; 
    
}

.button:hover {
    cursor: pointer;
    background-color: #bd4bff;
}

.button:active {
    transform: scale(0.97);
}

.div-button {
    max-width: 1440px;
    display: flex;
    justify-content: right;
}

.arrow {
    width: 50px;
    height: 20px;
    margin-left: 10px;
}


.middle {
 
    width: 100%;
  height: auto;
}


.middle img {
    margin-bottom: 20px;
    border-radius: 20px;
  width: 100%;
  height: auto;
}

.cent {
    text-align: center;
}

.purple {
    color: #FF00E5;
}

.middle2 { /*для второй страницы*/
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.question {
    margin-bottom: 80px;
}

.question-text {
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.flex {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.overlay {
    display: none; /* Скрываем затемняющий фон по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    z-index: 1; /* Должен быть позади модального окна */
    animation: sliders 0.3s forwards;
    opacity: 0%;
}

.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 2; /* Делаем его сверху над затемнением */
    left: 50%; /* Центрирование по горизонтали */
    top: 50%; /* Центрирование по вертикали */
    transform: translate(-50%, -50%); /* Смещение для точного центрирования */
    width: 50%; /* Ширина 50% от экрана */
    background-color: white; /* Цвет фона модального окна */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
    border-radius: 20px; /* Закругленные углы */
    overflow: hidden; /* Скрываем переполнение */
    transition: all 0.5s;
    opacity: 0%;
    animation: sliders 0.3s forwards;
   
}

.modal.show {
    display: block; /* Показываем модальное окно */
    opacity: 1; /* Полная видимость */
}

@keyframes sliders {
    to {
        opacity: 1;
    }
}



.modal-content {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    border: 7px solid #4BD0A0; 
    border-radius: 20px;
}

.modal-content img {
    transform: scale(0.8);
    border-radius: 20px;
}

.modal-content p {
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    color: white;
    text-align: justify;
}

.h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 20px;
}

.close {
    color: white; /* Цвет для кнопки закрытия */
    float: right; /* Выравнивание кнопки закрытия вправо */
    font-size: 28px; /* Размер шрифта кнопки закрытия */
    font-weight: bold; /* Жирный шрифт */
    margin-left: 20px;
}

.close:hover,
.close:focus {
    color: #aaa; /* Цвет при наведении */
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Курсор в виде руки */
}

.responsive-window {
    margin-top: 50px;
    background-color: white;
    border: 1px 0px 1px 1px solid #ccc;
    border-radius: 20px 10px 10px 20px;
    padding: 20px;
    width: 100%; /* Начальная ширина */
    max-width: 100%; /* Максимальная ширина */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: width 0.05s ease;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.responsive-window1 {
    font-size: 20px;
    font-weight: bold;
    color: #FF00E5;
    margin-top: 0;
    margin-bottom: 10px;
}

.responsive-window2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.resize-handle {
    width: 10px;
    height: 100%;
    border-radius: 20px;
    background-color: #FF00E5;
    position: absolute;
    right: 0;
    top: 0;
    cursor: ew-resize;
}

.responsive-window button {
    padding: 10px 15px;
    background-color: #FF00E5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.responsive-window button:hover {
    background-color: #bd4bff;
}

.responsive-window button:active {
    transform: scale(0.97);
}

.button-container {
    position: relative;
    margin-bottom: 220px;
}

.animated-button {
    padding: 15px 30px;
    background-color: #4BD0A0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    animation: move 4s linear infinite alternate; 
    transition: all 0.3s;
}

@keyframes move {
    0% { left: 0; } 
    100% { left: calc(100% - 265px); } 
}

.button-1 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    top: 20px;
    animation-delay: 0s;
}

.button-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    top: 80px;
    animation-delay: 0.5s;
}

.button-3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    top: 140px;
    animation-delay: 1s;
}

.animated-button:hover {
    background-color: #FF00E5;
}

.animated-button:active {
    transform: scale(0.97);
}

.footer {
    margin-top: 80px;
}

@media(max-width: 1480px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 1100px) {
    .mobile {
        height: 100%;
    }
    .question-text {
        font-size: 32px;
        line-height: 40px;
    }
    .background {
        display: none;
    }
    .background1 {
        display: none;
    }
    .backgroundNew {
        display: none;
    }
  .modal {
    width: 70%;
  }
}

@media(max-width: 1250px) {
    .title {
        font-size: 30px;
        line-height: 30px;
    }
    .question-text {
        font-size: 26px;
        line-height: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 25px;
    }

    .div-button {
        justify-content: center;
    }

    .flex {
        flex-direction: column;
    }
    .modal {
        width: 90%;
      }
}

@media(max-width: 800px) {
    .footer-frontdev {
        font-size: 30px;
    }
    .footer {
        padding: 30px;
    }
}

@media(max-width: 650px) {
    .footer-frontdev {
        font-size: 30px;
    }
    .footer {
        margin-top: 50px;
        padding: 30px;
    }
}

@media(max-width: 500px) {
    .footer-frontdev {
        font-size: 25px;
    }
    .footer {
        margin-top: 25px;
        padding: 30px;
    }
}

@media(max-width: 430px) {
    .title {
        word-break: break-all;
    }
    .question-text {
        font-size: 20px;
        line-height: 35px;
    }

    .modal-content p {
        font-size: 15px;
    }
    .h3 {
        font-size: 20px;
    }

    .button {
        font-size: 20px;
        max-width: 270px;
        max-height: 60px;
       
    }

}

@media(max-width: 400px) {
    .title {
        font-size: 25px;
        line-height: 25px;
        word-break: normal;
    }

    .text {
        font-size: 14px;
        line-height: 20px;
    }

    .button {
        font-size: 20px;
        width: 280px;
        height: 60px;
    }
    .arrow {
        width: 40px;
        height: 18px;
    }
    .footer-frontdev {
        font-size: 30px;
    }
    .footer {
        padding: 25px;
    }
    .button-container {
        position: relative;
        margin-bottom: 240px;
    }
    
    .animated-button {
        padding: 15px 30px;
        background-color: #4BD0A0;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        animation: move 2s linear infinite alternate; 
        transition: background-color 0.3s;
        transition: transform 0.3s;
    }
    
    @keyframes move {
        0% { left: 0; } 
        100% { left: calc(100% - 220px); } 
    }
    
    .button-1 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: bold;
        top: 20px;
        animation-delay: 0s;
    }
    
    .button-2 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: bold;
        top: 80px;
        animation-delay: 0.5s;
    }
    
    .button-3 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: bold;
        top: 140px;
        animation-delay: 1s;
    }
}

@media(max-width: 370px) {
    .title {
     
        font-size: 20px;
        line-height: 25px;
    }

    .text {
        font-size: 14px;
        line-height: 20px;
    }
}

