.radio-group {
   display: flex;
   row-gap: 30px;
   flex-direction: column;
}

.radio {
    display: flex;
    align-items: center;
    
    cursor: pointer;
  
}

.radio input {
    display: none; /* Скрываем стандартный radio button */
}

.checkmark {
    min-width: 41px;
    min-height: 41px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    transition: background 0.3s, border-color 0.3s;
    margin-right: 20px;
    transition: all 0.2s;
}

.checkmark:hover {
    border: solid white 8px;
    transition: all 0.2s;
}




.radio input:checked + .checkmark {
    background-color: #4BD0A0; /* Цвет фона при выборе */
   /* Цвет рамки при выборе */
   
}

.checkmark:after {
   
    display: none;
}

.radio input:checked + .checkmark:after {
    display: block;
}

.checkmark:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white; /* Цвет точечки внутри */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование */
}